<div class="d-flex justify-content-between">
  <div class="products container w-50 p-3">
    <div class="d-flex justify-content-center">
      <h2>Products list</h2>
    </div>
    <%= render 'shared/show_products' %>
  </div>

  <div class="cart container w-50 p-3">
    <div class="d-flex cart justify-content-center">
      <h2>Cart</h2>
    </div>
    <% @cart.cart_products.each do |product| %>
      <%= render 'shared/show_cart_product', cart_product: product %>
    <% end %>
  </div>
</div>

<div class="cart-total-price card-product fixed-bottom justify-content-center">
  <h2>Total price: <%= number_to_currency(@cart.total_cost) %> </h2>
</div>
